.post {
	position: relative;
}
.post-title {
	font-size: 1.25rem;
}
.post-description {
	font-size: 1.5rem;
	line-height: 1.3;
	font-family: var(--font-family-serif);
	margin-bottom: 1rem;
}
.post-metadata {
	font-size: 0.875rem;
	margin-bottom: 7rem;
}
.post-taglist {
	text-align: center;
	margin-top: 2rem;
}
.post-tag {
	display: inline-block;
	text-transform: capitalize;
	background: var(--color-gray-10);
	padding: 0 1rem;
	font-size: 0.875rem;
	line-height: 2rem;
	text-decoration: none;
	border-radius: 2rem;
	font-style: normal;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
}

.links-nextprev {
	padding: 5rem 0;
}
.links-nextprev-item-label {
	margin: 0 2rem;
	padding: 0.5rem 0;
}
.links-nextprev-item--next .links-nextprev-item-label {
	text-align: right;
}
