/* Posts list */
:root {
	--postslist-image-height: 2.5rem;
}
.postslist-image {
	display: block;
	border-radius: 1rem;
	overflow: hidden;
	width: var(--postslist-image-height);
	height: var(--postslist-image-height);
	background: var(--border-color);
}
.postslist-image img[width][height] {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.postslist-item {
	margin-bottom: 1rem;
	font-size: 1rem; /* 19px /16 */
	font-weight: 700;
	text-decoration: none;
	background: var(--background-color);
	border-radius: 2rem;
	border: 1px solid var(--border-color);
}
.postslist-item-content {
	cursor: pointer;
	display: block;
	padding: 1.25rem;
}
.postslist-item[data-has-image="true"] .postslist-item-content {
	display: grid;
	grid-template-columns: var(--postslist-image-height) auto;
	gap: 1rem;
}

.postslist-item:hover {
	border: 1px solid var(--text-color-link-active);
}
.postslist-item:hover .postslist-image {
	background: var(--text-color-link-active);
}
.postslist-title {
	margin-bottom: 0.25rem;
}
.postslist-description {
	font-weight: 300;
	font-size: 1.25rem;
	font-family: var(--font-family-serif);
	text-overflow: ellipsis;
	margin-bottom: 0.25rem;
}
.postslist-meta {
	font-size: 0.875rem;
	font-weight: 300;
}
.postslist-date {
}
.postlist-reading-time {
}
.postslist-item-active {
	font-weight: bold;
}
.postslist-item:hover .postslist-title {
	color: var(--text-color-link-active);
}
.postslist-item:hover .postslist-description {
	color: var(--text-color-link-active);
}
.postslist-item:hover .postslist-date {
	color: var(--text-color-link-active);
}
.postslist-item-mirrors {
	max-height: 0;
	overflow: hidden;
	transform: translateY(-10px);
	opacity: 0;
	transition: max-height 0.2s ease, transform 0.3s ease, opacity 0.1s ease;
}
.postslist-item-mirrors .mirrors {
	padding: 0 1.25rem 1.25rem 1.25rem;
}

.postslist-item[data-expanded="true"] .postslist-item-mirrors {
	max-height: 1000px;
	transform: translateY(0);
	opacity: 1;
}
.postslist-item-mirrors .close-btn {
	position: absolute;
	top: -1rem;
	right: 1rem;
}
