:root {
	--spotify-icon: url("https://services.linkfire.com/logo_spotify_onlight.svg");
	--amazon-music-icon: url("https://services.linkfire.com/logo_amazonmusic_onlight.svg");
	--itunes-icon: url("https://services.linkfire.com/logo_itunes_onlight.svg");
	--apple-music-icon: url("https://services.linkfire.com/logo_applemusic_onlight.svg");
	--deezer-icon: url("https://services.linkfire.com/logo_deezer_onlight.svg");
	--tidal-icon: url("https://services.linkfire.com/logo_tidal_onlight.svg");
	--youtube-music-icon: url("https://services.linkfire.com/logo_youtubemusic_onlight.svg");
}

.release-title {
	font-size: 1rem;
	margin-bottom: 0;
}
.release-taglist {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}
.release-tag {
	text-transform: capitalize;
}
.release-content h2 {
	font-size: 1rem;
	font-family: 300;
	text-align: center;
}
.release-content a:first-of-type {
	display: flex;
	align-items: center;
	justify-content: center;
}
.release-image {
	justify-content: center;
	display: flex;
	margin-bottom: 0.5rem;
}
.release-image img {
	width: 320px;
	height: 320px;
	border-radius: 2rem;
}
.release-content ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.release-content ul li a {
	display: grid;
	grid-template-columns: var(--image-height) auto;
	gap: 1rem;
	justify-content: left;
	margin-bottom: 0.5rem;
	font-size: 1rem; /* 19px /16 */
	font-weight: 700;
	line-height: 3rem;
	flex-basis: calc(100% - 1.5rem);
	padding: 0rem 1rem;
	text-decoration: none;
	background: var(--background-color);
	border-radius: 2rem;
	border: 1px solid var(--border-color);
	text-decoration: none;
}
.release-content ul li a {
	position: relative;
}

.release-content ul li a:hover {
	border: 1px solid var(--text-color-link-active);
}
.release-content ul li a::after {
	content: "";
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%);
	width: 16px;
	height: 16px;
	opacity: 0.5;
	background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20class%3D%22ml-auto%20my-auto%20md%3Amr-4%20text-pebble%22%20role%3D%22img%22%20aria-hidden%3D%22false%22%20aria-labelledby%3D%22ltclid10_title%22%3E%3Ctitle%20id%3D%22ltclid10_title%22%3ERedirect%3C/title%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8.5%200.998901H14.5H15V1.4989V7.4989H14V2.70601L7.35355%209.35246L6.64645%208.64535L13.2929%201.9989H8.5V0.998901ZM1%203H1.5H3.34615H5V4H3.34615H2V5.34615V12.6538V13.9991L3.34615%2014H3.34648H11.1534H11.1538L12%2013.9992V12.6538V11H13V12.6538V14.4988V14.9984L12.5004%2014.9988L11.1543%2015H11.1538H3.34615H3.34583L1.49968%2014.9988L1%2014.9985V14.4988V12.6538V5.34615V3.5V3Z%22%20fill%3D%22currentColor%22%3E%3C/path%3E%3C/svg%3E");
	background-size: contain;
	background-repeat: no-repeat;
}

.release-content ul li a::before {
	content: "";
	position: absolute;
	left: 1rem;
	top: 50%;
	transform: translateY(-50%);
	width: 6rem;
	opacity: 1;
	background-size: contain;
	background-repeat: no-repeat;
	height: 2rem;
}

.release-content ul li a[href*="spotify"]::before {
	background-image: var(--spotify-icon); /* Using CSS variable */
}

.release-content ul li a[href*="music.amazon"]::before {
	background-image: var(--amazon-music-icon);
}

.release-content ul li a[href*="itunes"]::before {
	background-image: var(--itunes-icon);
}

.release-content ul li a[href*="music.apple"]::before {
	background-image: var(--apple-music-icon);
}

.release-content ul li a[href*="deezer"]::before {
	background-image: var(--deezer-icon);
}

.release-content ul li a[href*="tidal"]::before {
	background-image: var(--tidal-icon);
}

.release-content ul li a[href*="youtube"]::before {
	background-image: var(--youtube-music-icon);
}

.links-nextprev {
	padding: 5rem 0;
}
.links-nextprev-item-label {
	margin: 0 2rem;
	padding: 0.5rem 0;
}
.links-nextprev-item--next .links-nextprev-item-label {
	text-align: right;
}
