/* releases list */
:root {
	--releaseslist-image-height: 3rem;
}
.releaseslist-image {
	display: block;
	border-radius: 0.5rem;
	overflow: hidden;
	width: var(--releaseslist-image-height);
	height: var(--releaseslist-image-height);
	background-color: var(--border-color);
}
.releaseslist-image img[width][height] {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.releaseslist-item {
	display: grid;
	grid-template-columns: var(--releaseslist-image-height) auto;
	gap: 1rem;
	margin-bottom: 1rem;
	font-size: 1rem; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding: 0.5rem;
	text-decoration: none;
	background: transparent;
	border-radius: 1rem;
	border: 1px solid var(--border-color);
}

.releaseslist-item:hover {
	border: 1px solid var(--text-color-link-active);
}
.releaseslist-item:hover .releaseslist-image {
	background: var(--text-color-link-active);
}
.releaseslist-title {
	display: flex;
	font-size: 1.25rem;
	justify-content: flex-start;
	align-items: center;
}
.releaseslist-item-active {
	font-weight: bold;
}
.releaseslist-item:hover .releaseslist-title {
	color: var(--text-color-link-active);
}
