/* Releases List */
:root {
	--releaseslist-image-height: 3rem;
}

/* Image Styling */
.releaseslist-item .list-item-image {
	display: block;
	border-radius: 0.5rem;
	overflow: hidden;
	width: var(--releaseslist-image-height);
	height: var(--releaseslist-image-height);
	background-color: var(--border-color);
}
.releaseslist-item .list-item-image img[width][height] {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

/* Item Container */
.releaseslist-item {
	margin-bottom: 1rem;
	overflow: hidden;
	font-size: 1rem; /* 19px /16 */
	font-weight: 700;
	text-decoration: none;
	background: transparent;
	border-radius: 1rem;
	border: 1px solid var(--border-color);
}

/* Content Area */
.releaseslist-item .list-item-content-slot {
	cursor: pointer;
	display: grid;
	grid-template-columns: var(--releaseslist-image-height) auto;
	gap: 1rem;
	padding: 0.5rem;
}

/* Hover Effects */
.releaseslist-item:hover {
	border: 1px solid var(--text-color-link-active);
}
.releaseslist-item:hover .list-item-image {
	background: var(--text-color-link-active);
}
.releaseslist-item:hover .list-item-title {
	color: var(--text-color-link-active);
}

/* Title Styling */
.releaseslist-item .list-item-title {
	display: flex;
	font-size: 1.25rem;
	justify-content: flex-start;
	align-items: center;
}

/* Active Item Styling */
.releaseslist-item-active {
	font-weight: bold;
}

.releaseslist-item .list-item-mirrors-slot .mirrors {
	padding: 0.5rem 1.25rem 1.25rem 1.25rem;
}
