{% css %}
{% include "public/css/mirrors.css" %}
{% endcss %}
<div class="mirrors">
    <ul class="mirrors-list">
        <li class="mirrors-item">
            <a href="{{ post.url }}">Blog</a>
        </li>
        {% for mirror in mirrors %}
            <li class="mirrors-item">
                <a href="{{ mirror.url }}" target="_blank">{{ mirror.title }}</a>
            </li>
        {% endfor %}
    </ul>
</div>