{% css %}
{% include "public/css/mirrors.css" %}
{% endcss %}
<div class="mirrors">
    <ul class="mirrors-list">
        {% if localUrl == post.url %}
            <li class="mirrors-item">
                <a href="{{ localUrl }}">Read on blog</a>
            </li>
        {% endif %}
        {% for mirror in mirrors %}
            <li class="mirrors-item">
                <a href="{{ mirror.url }}" target="_blank">{{ mirror.title }}</a>
            </li>
        {% endfor %}
    </ul>
</div>