<div data-href="{{ post.url }}" class="postslist-item" data-is-active="{% if post.url == url %} postslist-item-active{% endif %}" data-has-image="{% if post.data.image %}true{% else %}false{% endif %}" data-has-mirrors="{% if post.data.mirrors | length > 0 %}true{% else %}false{% endif %}">
    <div class="postslist-item-content">
        {% if post.data.image %}
            <div class="postslist-image">
                <img src="{{ post.data.image }}" alt="{{ post.data.title }}"></div>
            {% endif %}
            <div>
                <div class="postslist-title">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        <code>{{ post.url }}</code>
                    {% endif %}
                </div>
                {% if post.data.description %}
                    <div class="postslist-description">{{ post.data.description }}</div>
                {% endif %}
                <div class="postslist-meta">
                    <span class="postslist-reading-time">{{ post | readingTime }} read</span>
                    ·
                    <time class="postslist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
                </div>
            </div>
        </div>
        {% if post.data.mirrors %}
            <div class="postslist-item-mirrors">
                {% set mirrors = post.data.mirrors %}
                {% include "mirrors.njk" %}
            </div>
        {% endif %}
    </div>