{%- css %}
{% include "public/css/postslist.css" %}
{% endcss %}
<div class="postslist">
    {%- for post in postslist | reverse %}
        <a href="{{ post.url }}" class="postslist-item{% if post.url == url %} postslist-item-active{% endif %}">
            <div>
                <div class="postslist-title">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        <code>{{ post.url }}</code>
                    {% endif %}
                </div>
                {% if post.data.description %}
                    <div class="postslist-description">{{ post.data.description }}</div>
                {% endif %}
                <time class="postslist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
            </div>
            <div>
                <div class="postslist-image">
                    {% first_image post %}
                </div>
            </div>
        </a>
    {%- endfor %}
</div>