{%- css %}
.releaseslist { 

}{% endcss %}
<div class="releaseslist">
{%- for post in postslist | reverse %}
	<a href="{{ post.url }}" class="releaseslist-item{% if post.url == url %} releaseslist-item-active{% endif %}">
		<div class="releaseslist-title">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</div>
		{% if post.data.description %}<div class="releaseslist-description">{{ post.data.description }}</div>{% endif %}
		<time class="releaseslist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
	</a>
{%- endfor %}
</div>
