{%- css %}
{% include "public/css/releaseslist.css" %}
{% endcss %}
<div class="releaseslist">
    {%- for release in releaseslist | reverse %}
        {% include "releaseslist-item.njk" %}
    {%- endfor %}
</div>