<footer>
    <h3>Can't get enough?</h3>
    <div class="footer-links">
        <div>
            <h4>Support</h4>
            <ul>
                <li><a href="https://porschuetz.substack.com/subscribe">Subscribe via Substack</a></li>
                <li><a href="https://mandymozart.bandcamp.com">Buy music via Bandcamp</a></li>
                <li><a href="/feed/feed.xml">RSS Feed</a></li>
            </ul>
        </div>
        <div>
            <h4>Portfolios</h4>
            <ul>
                <li><a href="https://design.porschuetz.de/">Design Portfolio</a></li>
                <li><a href="https://www.mandymozart.com/">Art Portfolio</a></li>
            </ul>
        </div>
    </div>
</footer>