<div class="subscribe">
    <p>My content is edgy. By pledging a small monthly donation or with a
        <i>free subscription</i>
        to my newsletter you allow me to stay independent from brand endorsements, platform monetization or institutional
        funding.</p>
    <a class="subscribe-button" href="https://porschuetz.substack.com/subscribe">Subscribe</a>
</div>