---
layout: layouts/base.njk
---

{%- css %}{% include "public/css/release.css" %}{%- endcss %}
{%- css %}
{% include "public/css/releaseslist.css" %}
{% endcss %}
{# Only include the syntax highlighter CSS on blog releases, included with the CSS per-page bundle #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
<h1 class="release-title">{{ title }}</h1>
<div class="release-taglist">
    {%- for tag in tags | filterTagList %}
        {%- if tag !== "release" %}
            {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
            <a href="{{ tagUrl }}" class="release-tag">{{ tag }}</a>
            {%- if not loop.last %},
            {% endif %}
        {%- endif %}
    {%- endfor %}
</div>
{% if image %}
    <div class="release-image">
        <img src="{{ image }}" alt="{{ title }}"></div>
    {% endif %}
    <div class="release-content">
        {{ content | safe }}
    </div>
    <div class="release-mirrors">
        {% include "./../mirrors.njk" %}
    </div>
    {%- if collections.releases %}
        {%- set previousRelease = collections.releases | getPreviousCollectionItem %}
        {%- set nextRelease = collections.releases | getNextCollectionItem %}
        {%- if nextRelease or previousRelease %}
            <div class="links-nextprev">
                {%- if previousRelease %}
                    <div class="links-nextprev-item links-nextprev-item--prev">
                        <div class="links-nextprev-item-label">← Previous</div>
                        {% set release = previousRelease %}
                        {% include "./../releaseslist-item.njk" %}
                    </div>
                {% endif %}
                {%- if nextRelease %}
                    <div class="links-nextprev-item links-nextprev-item--next">
                        <div class="links-nextprev-item-label">Next →</div>
                        {% set release = nextRelease %}
                        {% include "./../releaseslist-item.njk" %}
                    {% endif %}
                </div>
            {%- endif %}
        {%- endif %}